<script type='text/x-handlebars' data-template-name='application'>
  <div class="row">
    <div class="twelve columns">
      <h2><a {{action goHome this}}><%= @options.admin_title %></a></h2>
      <hr />
    </div>
  </div>

  <div class="row">
    {{outlet body}}
  </div>

</script>

<script type='text/x-handlebars' data-template-name='articles'>
  <div class="twelve columns">
    <div class="row">
      <div class="eight columns">
        <h2>All Articles</h2>
      </div>
      <div class="four columns">
        <p class="right"><button class="button small"><span class="foundicon-plus"></span> Create New Article</button></p>
      </div>
    </div>

    <hr>

    <table width="100%">
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Tags</th>
        <th>Pub?</th>
        <th>Actions</th>
      </tr>
      {{#collection contentBinding="controllers.articlesController" tagName="tbody"}}
        <td>
          {{view App.TooltipSpan titleBinding="view.content.source" contentBinding="view.content.title"}}
        </td>
        <td>
          {{view App.TooltipSpan titleBinding="view.content.dateStringFull" contentBinding="view.content.dateString"}}
        </td>
        <td>
          {{#if view.content.tagsArray.length}}
            {{#each view.content.tagsArray}}
              <span class="label radius">{{this}}</span>
            {{/each}}
          {{/if}}
        </td>
        <td>
          {{#if view.content.published}}
            <span class="foundicon-checkmark"></span>
          {{else}}
            <span class="foundicon-error"></span>
          {{/if}}
        </td>
        <td>
          {{#view App.SplitDropdown contentBinding="view.content"}}
            <a {{action editArticle view.content href=true}}>Edit</a>
            <span></span>
            <ul>
              <li>
                <a {{bindAttr href="view.content.permalink"}} target="_blank">
                  Preview
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a onclick="confirm('Sure?');">
                  Delete
                </a>
              </li>
            </ul>
          {{/view}}
        </td>
      {{/collection}}
    </table>
  </div>
</script>

<script type='text/x-handlebars' data-template-name='edit-article'>
  <div class="twelve columns">
    <h3>Edit Article</h3>

    <form class="custom">

      <div class="row">
        <div class="six columns">
          <label>Title</label>
          {{view Ember.TextField valueBinding="title"}}

          <label>Date</label>
          {{view App.DateField valueBinding="dateString"}}

          <label for="published">
            {{view Ember.Checkbox checkedBinding="published" id="published" classNames="hidden"}}
            {{view Ember.View tagName="span" classNames="custom checkbox" classNameBindings="published:checked"}}
            Published?
          </label>
        </div>

        <div class="six columns">
          <label>URL</label>
          {{view Ember.TextField valueBinding="permalink" disabled="true"}}

          <label>Tags</label>
          {{view Ember.TextField valueBinding="tags" disabled="true"}}

          {{#if frontMatterPairs.length}}
            <label>FrontMatter <span class="label secondary">readonly</span></label>
            <ol>
              {{#each frontMatterPairs}}
                <li>{{key}}: {{value}}</li>
              {{/each}}
            </ol>
          {{/if}}
        </div>
      </div>

      <div class="row" style="margin-top: 10px">
        <div class="twelve columns">
          <label>
            Content
            {{#if WYSIWYGable}}
            {{else}}
              <span class="label secondary">.{{engine}} files cannot use the WYSIWYG editor</span>
            {{/if}}
          </label>
          {{#if WYSIWYGable}}
            {{view App.CKEditorView valueBinding="body"}}
          {{else}}
            {{view Ember.TextArea valueBinding="raw" rows="18"}}
          {{/if}}
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="twelve columns">
          <p class="left"><a class="button alert" {{action cancel}}>Cancel</a></p>
          <p class="right"><a class="button success" {{action save}}>Save Article</a></p>
        </div>
      </div>

    </form>
  </div>
</script>